.scroll {
    width: 100vw;
    height: 100vh;
    /*   overflow: auto; */
}

.container {
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.description.panel p {
    text-align: center;
}

.box {
    width: 120px;
    height: 120px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box.active {
    background-color: orange;
    border: 2px solid white;
}
